<p *ngIf='didLogin'>
    Welcome! Get started <a [routerLink]="'/'">here</a>.<br/><br/>
</p>
<p *ngIf='tokenExists'>
You are already logged in! Would you like to <a routerLink='/logout'>logout</a>?

    </p>
<form *ngIf='!userData && !tokenExists' [formGroup]='loginForm' #ourLoginDir='ngForm' (submit)='handleSubmit($event, ourLoginDir, loginForm)'>

    <p *ngIf='loginErrors'>{{ loginErrors }}</p>
     <input type='text' id='username' formControlName='usernameField'>
    <div *ngIf='usernameField.invalid && (usernameField.dirty || usernameField.touched)'>
        <div *ngIf='usernameField.errors.required'>
            Password is required.
        </div>
        <div *ngIf='usernameField.errors.maxlength'>
            Max length is 280
        </div>
        <div *ngIf='usernameField.errors.minlength'>
            Min length is 4
        </div>
    </div>
    <input type='password' id='password' formControlName='passwordField'>
    <div *ngIf='passwordField.invalid && (passwordField.dirty || passwordField.touched)'>
        <div *ngIf='passwordField.errors.required'>
            Password is required.
        </div>
        <div *ngIf='passwordField.errors.maxlength'>
            Max length is 280
        </div>
        <div *ngIf='passwordField.errors.minlength'>
            Min length is 4
        </div>
    </div>
    <button type='submit' class='btn btn-default' [disabled]='loginForm.invalid'>Submit</button>
    <button type='button' class='btn btn-default' (click)='ourLoginDir.resetForm({})'>Reset</button>
</form>

