<span *ngIf='errorMsg'>{{ errorMsg }}</span>
<form [formGroup]='statusForm' #statusDir='ngForm' (submit)='handleSubmit($event, statusDir, statusForm)'>

    <div class="form-group image-upload-group" style=''>
        <label for="image">Choose Image</label>
            <input #myFileInput type="file"
                   id="image"
                   accept='image/*,'
                   (change)="handleFileInput($event.target.files)">
    </div>


    <a href='#' (click)='callFileInput($event)'>Select File

        <span *ngIf='newFileName'>{{ newFileName }}</span>
    </a>

    <br/>

    <textarea #myTextArea id='content' name='content' formControlName='content'
    ></textarea>
    <p *ngIf='myTextArea.value'>{{ myTextArea.value }}

        <br/>
            <a href='#' (click)='clearMyTextArea($event)'>Clear</a>
    </p>

    <div *ngIf='content.invalid && (content.dirty || content.touched)'>
        <div *ngIf='content.errors.maxlength'>
            Max length is 280
        </div>
        <div *ngIf='content.errors.minlength'>
            Min length is 4
        </div>
    </div>


    <button type='submit' class='btn btn-default' [disabled]='statusForm.invalid'>Submit</button>
    <button type='button' class='btn btn-default' (click)='statusDir.resetForm({});resetFileInput()'>Reset</button>
</form>


<div style='width:%;background-color:#007cae;' *ngIf='uploadProgress>0'>
    <span *ngIf='uploadProgress > 25 && uploadProgress < 100'>{{ uploadProgress }}%</span>
    <span *ngIf='uploadProgress == 100'>Done</span>
</div>