<span *ngIf='errorMsg'>{{ errorMsg }}</span>

<p *ngIf='viewToggleBtn'>
  <button (click)='buttonPressed($event)'>Change</button>
</p>



<form *ngIf='viewEditForm' [formGroup]='statusForm' #statusDir='ngForm' (submit)='handleSubmit($event, statusDir, statusForm)'>

    <div class="form-group image-upload-group" style=''>
       <!--  <label for="image">Choose Image</label> -->
            <input #myFileInput type="file"
                   id="image"
                   class='hidden'
                   accept='image/*,'
                   (change)="handleImageInput($event.target.files)">
    </div>



    <p *ngIf='newImagePreviewUrl'>
        <small>Image Upload Preview</small>
        <img [src]='newImagePreviewUrl' width='100' />
    </p>
    <a href='#' (click)='callFileInput($event)'>Select Image</a>

    <br/>

    <textarea #myTextArea id='content' name='content' formControlName='content'
    ></textarea>

    <div *ngIf='content.invalid && (content.dirty || content.touched)'>
        <div *ngIf='content.errors.maxlength'>
            Max length is 280
        </div>
        <div *ngIf='content.errors.minlength'>
            Min length is 4
        </div>
    </div>

    <p>
    <button type='submit' class='btn btn-default' [disabled]='statusForm.invalid'>Submit</button>
    <button type='button' class='btn btn-default' *ngIf='currentImage' (click)='toggleRemoveCurrentImage($event)'><span *ngIf='currentImageDidRemove'>Removing</span><span *ngIf='!currentImageDidRemove'>Remove</span> Image</button>
    <button type='button' class='btn btn-default' (click)='resetFormAll()'>Reset</button>
    </p>
</form>


<div style='width:%;background-color:#007cae;' *ngIf='uploadProgress>0'>
    <span *ngIf='uploadProgress > 25 && uploadProgress < 100'>{{ uploadProgress }}%</span>
    <span *ngIf='uploadProgress == 100'>Done</span>
</div>